extends layout

block content
    h1(class='text-center') Inspirations
    br
    div(class="col-lg-12 text-center")
        a(href='https://bl.ocks.org/alandunning/ab4b0b203f58ce4c42754774c85c0119' target="blank")
         img(src="img/barchart.png" height="350" width="45%")
    div(class="col-lg-12 text-center")
        iframe(src="https://webkul.github.io/csspin/" height="350" width="45%")
    div(class="col-lg-12 text-center")
        iframe(src="http://www.cssportal.com/style-input-range/" height="350" width="45%")